.logo
{
    width: 113px;
    height: 85px;
}
.head
{
    width: 112px;
    height: 85px;
}
#products img
{
    width: 221px;
    height: 114px;
}
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
.product 
{
    font-size: 20px;
}
#cupons
{
    width: 96%;
    height: 41px;
}
